
div.wmx-geocoder {
    color: #1C94C4;
    cursor: pointer;
    display: block;
    font-size: 1em;
    height: 1.25em;
    min-width: 3em;
    overflow: visible;
}

div.wmx-geocoder-launch:hover {
	background-color: #fefefe;
	color: #FF8C00;
}
